* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.ticket-list {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ticket h2 {
  margin: 0;
}

.ticket p {
  margin: 5px 0;
}
